# Configs for pwills.com

title: ""
name: ""
email: ftahmas1@binghamton.edu
url: "http://FTB-B.github.io"
repository: "FTB-B/FTB-B.github.io"

include:
  - _pages
  - assets
  - index.html
exclude:
  - TODO.md
  - README.md
  - "*.org"
  - "*ltximg*"

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-include-cache
  - jekyll-paginate
  - jekyll-seo-tag

# Jekyll configuration
permalink:   /:title/

# Build settings
markdown: kramdown
#theme: "minimal-mistakes-jekyll"
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "default"
  
# settings for author profile
author:
  name   : "Fatemeh Tahmasbi"
  avatar : "/assets/images/headshot.jpg"
  bio    : "Passionate about data science and data analytics"
  #location: "Ithaca, NY"
  github : FTB-B
  linkedin: fatemeht
  email  : ftahmas1@binghamton.edu


# # comments by disqus
comments:
  provider: "disqus"
  disqus:
    shortname: "pwills-com"

analytics:
  provider: "google"
  google:
    tracking_id: ""


# pagination for blog page
paginate: 10 # number of posts to show
paginate_path: /page:num/

# default YAML front matter
defaults:
  # all
  - scope:
      path: ""
    values:
      layout: single
      mathjax: true
      author_profile: true
      class: wide
      title: " "
      title_separator: "|"
  # posts
  - scope:
      type: posts
    values:
      toc: true
      toc_label: "Contents"
      read_time: false
      comments: true
  # portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      author_profile: false
      excerpt: ""
      sidebar:
        nav: "portfolio"

# collections
collections:
  portfolio:
    output: true
